.xtitems-block .xtitems-item .xttaract-content > p:first-child {
  margin: 0;
  font-weight: bold;
}
.xtitems-block .xtitems-item .xttaract-table > table {
  margin-bottom: 0;
}
.xtitems-block .xtitems-item .xttaract-table > table td {
  vertical-align: top;
}
.xtitems-block .xtitems-item .xttaract-comment {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 90%;
}
